.main {
  display: flex;
  flex-direction: column;
}

.form {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.label {
  font-weight: 500;
}

.input {
  margin-bottom: 10px;
  max-width: 200px;
}

.button {
  margin-top: 10px;
  max-width: 100px;
}
