.skeleton {
  background: #fafafa;
  border-radius: 4px;
  width: 100%;
  overflow: hidden;
}

.skeleton.cartItem {
  height: 40px;
}

.skeleton.caloriesAndPrice {
  height: 30px;
}
.skeleton.ingredientItem {
  height: 150px;
  width: 200px;
}
