.cart {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: space-between;
  border: 3px solid #fafafa;
  border-radius: 3%;
}

.ingredientItemImage {
  width: 200px;
  height: 150px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 200px 150px;
  border-radius: 10px;
}
