.cart {
  display: flex;
  flex-direction: column;
  gap: 12px;
  flex-wrap: wrap;
  justify-content: space-around;
  border: 3px solid #fafafa;
  border-radius: 3%;
  padding: 10px;
}
.priceAndCalories {
  margin-top: 10px;
  border-top: 3px solid #fafafa;
  padding: 10px;
}
