@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  margin: 0;
  padding: 0;
}
.ingredient-item {
  display: inline-block;
}

.ingredient-item-name {
  font-family: "Montserrat", sans-serif;
}
.ingredient-item-image {
  width: 200px;
  height: 200px;
}
