.ingredientItem {
  width: 200px;
  height: 200px;
  border-radius: 5%;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 10px;
}

.ingredientItemImage {
  width: 200px;
  height: 150px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 200px 150px;
  border-radius: 10px;
}
.ingredientItemName {
  margin-bottom: 10px;
}

.ingredientItem:hover {
  background-color: #e1e1e1;
}
