.ingredient-item-name {
  font-family: "Montserrat", sans-serif;
}
.ingredientItemImage {
  width: 200px;
  height: 150px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 200px 150px;
  border-radius: 10px;
}
.ingredientItem {
  width: 200px;
  height: 200px;
  border-radius: 5%;
  background-color: #fafafa;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.ingredientItem:hover {
  background-color: #e1e1e1;
}
