.button {
  padding: 12px;
  background-color: #2a6041;
  color: #fafafa;
  border-width: 0;
  border-radius: 2px;
  transition: all 0.2s;
  cursor: pointer;
  font-size: 16px;
}

.button:hover {
  background-color: #fafafa;
  color: #2a6041;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}
