.ingredientDataContainer {
  display: flex;
  flex-direction: column;
  padding: 4px;
}

.ingredientImageAndText {
  display: flex;
  gap: 40px;
  margin: 20px;
}
.ingredientImage {
  width: 40%;
  height: 150px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 200px 150px;
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.ingredientTextDescription {
  display: flex;
  flex-direction: column;
  gap: 7px;
  align-items: flex-start;
  font-size: 25px;
  width: 60%;
}

.addButtonArea {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 35px;
}

.ingredientName {
  font-size: 24px;
  font-weight: 600;
  border-bottom: 4px solid #effbf4;
  margin-bottom: 4px;
}
.ingredientProperties {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  color: rgb(24, 24, 24);
  gap: 1vh;
}

.closeXButton {
  position: absolute;
  right: -10px;
  top: -15px;
  font-weight: 800;
  color: rgb(210, 210, 210);
}
