.mainArea {
  display: flex;
  justify-content: space-between;
}

.ingredientsList {
  flex-basis: 65%;
  max-width: 1200px;
  justify-content: space-around;
  margin-right: 20px;
  margin-top: 10px;
}

.cart {
  flex-basis: 35%;
  margin-top: 10px;
}

.header {
  height: 60px;
  background-color: #fafafa;
}
